.body {
    text-align: center;
    font-size: 30px;
    
}


.center {
    margin-top: 30px;
    text-align: 35px;
    text-align: left;
}


.image-container {
    display: flex;
    justify-content: center;
}


.image-container a {
    margin: 25px;
    text-decoration: none;
    color: black;
}


.image-container img {
    width: 200px;
    height: 200px;
}


.image-container p {
    margin: 10px 0;
}

.footer {
    background-color: grey;
    padding: 70px;
    display: flex;
    justify-content: space-around;


}

.font {
  font-size: 30px;
    text-align: left;
}
